body{
  margin: 0;
  text-align: center;
  background-color: #EEEEEE;
}

.top-container {
  background-color: #EEEEEE;
  padding-top: 100px;
  margin:0 0 30px 0;
}
.middle-container{

}

.bottom-container{
  background-color: #787A91;
  padding: 50px 0 20px;

}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #141E61;
  line-height: 1;
  text-shadow: 2px 2px 8px #787A91;
  }
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #141E61;
  }
h3{
  font-family: 'Montserrat', sans-serif;
  color: #787A91;
}
a{
  color: #141E61;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: white;
  text-shadow: 2px 2px 8px white;
}

p{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #40514E;
  font-size: 18px;
  line-height: 2;
}
hr{
  border-style: dotted none none;
  border-width:10px;
  border-color: #787A91;
  width: 5%;
  margin: 50px auto;
}

.eng{text-decoration: underline;}
.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;

}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.intro{
  width:40%;
  margin:0 auto 30px auto;
}
.skill-row{
  width: 50%;
  margin: 6.25rem auto;
  text-align:left;
  line-height: 2;
}
.skills{
  margin: 40px auto;
}
.skill-1-img{
  width: 25%;
  float: left;
  margin-right:30px;
}
.skill-2-img{
  width: 25%;
  float: right;
  margin-left:30px;
}
.contact-msg{
  margin:0 auto 30px auto;
  width: 40%;
}
.contact-me{
  height: 350px;
  width: auto;
}
.btn {
  background: #06283D;
  background-image: -webkit-linear-gradient(top, #06283D, #1363DF);
  background-image: -moz-linear-gradient(top, #06283D, #1363DF);
  background-image: -ms-linear-gradient(top, #06283D, #1363DF);
  background-image: -o-linear-gradient(top, #06283D, #1363DF);
  background-image: linear-gradient(to bottom, #06283D, #1363DF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px #0c4b5e;
  -moz-box-shadow: 0px 0px 15px #0c4b5e;
  box-shadow: 0px 0px 15px #0c4b5e;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #1363DF;
  background-image: -webkit-linear-gradient(top, #1363DF, #06283D);
  background-image: -moz-linear-gradient(top, #1363DF, #06283D);
  background-image: -ms-linear-gradient(top, #1363DF, #06283D);
  background-image: -o-linear-gradient(top, #1363DF, #06283D);
  background-image: linear-gradient(to bottom, #1363DF, #06283D);
  text-decoration: none;
}
.footer-link{
  margin: 20px 40px 0 40px;
}
.copyright{
  color: #EEEEEE;
  font-size: 0.75rem;
  padding: 20px 0;
}
